 <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" style="padding-right: 10px">
          <img th:src="@{/images/tokioschool_logo.jpg}" alt="Logo de Filmotokio" width="35" height="35">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-white">Nueva película</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Buscar película</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Crear persona</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Crear usuario</a></li>
        </ul>

        <div class="text-end">
          <img th:src="@{/images/user_logo.png}" width="37" height="37" style="margin-right: 10px">
          <button type="button" class="btn btn-warning">Cerrar sesión</button>
        </div>
      </div>
    </div>
  </header>