<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head(title='Film-FilmoTokio')"></head>
<body>
<header th:replace="fragments/header"></header>
<main style="padding-left: 140px; padding-right: 140px; padding-top:30px; padding-bottom: 60px">

    <div th:if="${messageSuccesfull}" class="alert alert-success" style="margin-top: 20px;">
        <p th:text="${messageSuccesfull}" style="margin-bottom: 0;"></p>
    </div>

    <div class="container" style="border: 2px solid #333; padding: 20px;">

        <div class="row">

            <div class="col-md-6">

                <h3 th:text="${film.title +' ('+scoreMedia+')'}" style="color: dodgerblue;"></h3>

                <b><label>Año: </label></b>
                <label th:text="${film.year}"></label>

                <div style="padding-top: 2px">
                    <b><label>Director: </label></b>
                    <label th:each="director : ${directors}"
                           th:text="${director.name+' '+director.surname+ '.&nbsp'}"></label>
                </div>

                <div style="padding-top: 2px">
                    <b><label>Guionista: </label></b>
                    <label th:each="screenwriter : ${screenwriters}"
                           th:text="${screenwriter.name+' '+screenwriter.surname+ '.&nbsp'}"></label>
                </div>

                <div style="padding-top: 2px">
                    <b><label>Músico: </label></b>
                    <label th:each="musician : ${musicians}"
                           th:text="${musician.name+' '+musician.surname+ '.&nbsp'}"></label>
                </div>

                <div style="padding-top: 2px">
                    <b><label>Fotografía: </label></b>
                    <label th:each="photographer : ${photographers}"
                           th:text="${photographer.name+' '+photographer.surname+ '.&nbsp'}"></label>
                </div>

                <div style="padding-top: 2px">
                    <b><label>Actor: </label></b>
                    <label th:each="actor : ${actors}" th:text="${actor.name+' '+actor.surname+ '.&nbsp'}"></label>
                </div>

                <div style="padding-top: 2px">
                    <label th:text="${film.synopsis}"></label>
                </div>
                <div th:unless="${userWithScore} ">
                    <form th:action="@{/add-score/{id} (id=${film.id})}" method="post">
                        <div class="button-group" style="padding-top: 2px">
                            <label>
                                <input type="radio" name="number" value="1"> 1
                            </label>
                            <label>
                                <input type="radio" name="number" value="2"> 2
                            </label>
                            <label>
                                <input type="radio" name="number" value="3"> 3
                            </label>
                            <label>
                                <input type="radio" name="number" value="4"> 4
                            </label>
                            <label>
                                <input type="radio" name="number" value="5"> 5
                            </label>
                            <label>
                                <input type="radio" name="number" value="6"> 6
                            </label>
                            <label>
                                <input type="radio" name="number" value="7"> 7
                            </label>
                            <label>
                                <input type="radio" name="number" value="8"> 8
                            </label>
                            <label>
                                <input type="radio" name="number" value="9"> 9
                            </label>
                            <label>
                                <input type="radio" name="number" value="10"> 10
                            </label>
                        </div>
                        <button style="margin-top: 4px" type="submit" class="btn btn-warning">Puntuar</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6" style="text-align: center">
                <img th:src="@{/image/{titleImage} (titleImage=${film.poster})}" style="height: 300px; width: 200px; ">
            </div>
        </div>
    </div>

    <div class="container" style="border: 2px solid #333; padding: 20px; margin-top: 10px"
         th:unless="${userWithReview}">
        <div class="row">
            <div class="col-md-6">
                <h4>Añadir crítica</h4>
                <form method="post" th:action="@{/new-review/{id} (id=${film.id})}" th:object="${review}">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Título" th:field="*{title}" required>
                    </div>

                    <div class="form-group" style="padding-top: 8px">
                        <textarea maxlength="255" rows="3" class="form-control" placeholder="Review"
                                  th:field="*{textReview}" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-warning" style="margin-top: 8px">Realizar review</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col" th:each="review : ${reviews}">
        <div class="col-md-6" style="border: 2px solid #333; margin-top: 10px; padding: 20px; width: 100%;">
            <div>
                <h1 th:text="${review.title}" style="width: 100%; color: dodgerblue">Titulo de la review</h1>
                <div>
                    <label th:text="${review.date}" style="width: 100%; color: darkgray;">Fecha de la review</label>
                </div>
                <div>
                    <label th:text="${review.textReview}" style="width: 100%;">Descripción de la review</label>
                </div>
            </div>
        </div>
    </div>

</main>
<footer th:replace="fragments/footer"></footer>
</body>