<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/header"></header>
<div class="container" style="padding-top:30px; padding-bottom: 60px">
    <h3>Nueva película</h3>
    <hr>
    <div th:if="${newFilmSuccesfull}" class="alert alert-success" style="margin-top: 20px;">
        <p th:text="${newFilmSuccesfull}" style="margin-bottom: 0;"></p>
    </div>
    <form method="post" th:action="@{/new-film}" th:object="${film}" enctype="multipart/form-data">

        <div class="row">
            <!-- Primera columna -->
            <div class="col-md-4">

                <div class="mb-3">
                    <b><label for="titulo" class="form-label">Título</label></b>
                    <input type="text" class="form-control" id="titulo" th:field="*{title}" required>
                </div>

                <div class="mb-3">
                    <b><label for="directores" class="form-label">Directores</label></b>
                    <select class="form-control" multiple size=4 id="directores" th:field="*{directors}" required>
                        <option th:each="director: ${director}" th:value="${director.id}"
                                th:text="${director.name+' '+director.surname}"></option>
                    </select>
                </div>

                <div class="mb-3">
                    <b><label for="musicos" class="form-label">Músicos</label></b>
                    <select class="form-select" multiple size=4 id="musicos" th:field="*{musicians}" required>
                        <option th:each="musician: ${musician}" th:value="${musician.id}"
                                th:text="${musician.name+' '+musician.surname}"></option>
                    </select>
                </div>

                <div class="mb-3">
                    <b><label for="cartel" class="form-label">Cartel</label></b>
                    <input type="file" name="cartel" class="form-control" id="cartel" accept="image/jpeg, image/png" required>
                </div>

                <div class="text-start" style="padding-top: 20px;">
                    <button type="submit" class="btn btn-warning">Registrar película</button>
                    <a class="btn btn-warning" href="#" onclick="history.back()">Volver</a>
                </div>

            </div>

            <!-- Segunda columna -->
            <div class="col-md-4">

                <div class="mb-3">
                    <b><label for="anio" class="form-label">Año</label></b>
                    <input type="number" class="form-control" id="anio" th:field="*{year}" min="1000" max="9999"
                           required>
                </div>

                <div class="mb-3">
                    <b><label for="guionistas" class="form-label">Guionistas</label></b>
                    <select class="form-select" multiple size="4" id="guionistas" th:field="*{screenwriters}" required>
                        <option th:each="screenwriter: ${screenwriter}" th:value="${screenwriter.id}"
                                th:text="${screenwriter.name+' '+screenwriter.surname}"></option>
                        <!-- Agregar más opciones de guionistas aquí -->
                    </select>
                </div>

                <div class="mb-3">
                    <b><label for="fotografo" class="form-label">Fotógrafo</label></b>
                    <select class="form-select" multiple size="4" id="fotografo" th:field="*{photographers}" required>
                        <option th:each="photographer: ${photographer}" th:value="${photographer.id}"
                                th:text="${photographer.name +' '+ photographer.surname}"></option>
                    </select>
                </div>
            </div>

            <!-- Tercera columna -->
            <div class="col-md-4">

                <div class="mb-3">
                    <b><label for="duracion" class="form-label">Duración (.min)</label></b>
                    <input type="number" class="form-control" id="duracion" min="1" max="999" th:field="*{duration}"
                           required>
                </div>

                <div class="mb-3">
                    <b><label for="actores" class="form-label">Actores</label></b>
                    <select class="form-select" multiple size="4" id="actores" th:field="*{actors}" required>
                        <option th:each="actor: ${actor}" th:value="${actor.id}"
                                th:text="${actor.name +' '+ actor.surname}"></option>
                        <!-- Agregar más opciones de actores aquí -->
                    </select>
                </div>

                <div class="mb-3">
                    <b><label for="sinopsis" class="form-label">Sinopsis</label></b>
                    <textarea class="form-control" id="sinopsis" rows="5" th:field="*{synopsis}" required></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
<footer th:replace="fragments/footer"></footer>
</body>