<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head(title='SearchFilm-FilmoTokio')"></head>
<body>
<header th:replace="fragments/header"></header>
<main style="padding-left: 140px; padding-right: 140px; padding-top:30px; padding-bottom: 60px">

    <h3>Buscar película</h3>
    <hr>

    <form method="post" th:action="@{/search-film}">
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-4" style="margin-left: -10px;">
                <b><label type="text" style="padding-top: 10px;">Título</label></b>
                <input class="form-control" id="title" type="text" name="title"
                       style="margin-top: 10px;">
            </div>
        </div>
    </div>
    <div class="text-start" style="padding-top: 20px;">
        <button type="submit" class="btn btn-warning">Buscar película</button>
        <a class="btn btn-warning" href="#" onclick="history.back()">Volver</a>
    </div>

    </form>
</main>
<footer th:replace="fragments/footer"></footer>
</body>